@use "../../sass/variables";

.card {
  background-color: #fff;
  width: 90%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .upper-card {
    display: flex;
    justify-content: space-between;

    .upper-card-left {
      width: 50%;

      h4 {
        font-size: 30px;
        color: variables.$secondary-text;
        margin: 0;
        font-weight: 500;
      }

      h1 {
        font-size: 40px;
        text-transform: uppercase;
        margin: 0;
        margin-top: 15px;
      }
    }

    .upper-card-right {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h4 {
        margin: 0;
        color: variables.$secondary-text;
        font-size: 30px;
        text-align: end;
        font-weight: 500;
      }

      h3 {
        margin: 0;
        margin-top: 5px;
        font-size: 30px;
        text-align: end;
      }
    }
  }

  .lower-card {
    display: flex;
    // justify-content: space-between;
    margin-top: 30px;

    .lower-card-left {
      width: 50%;

      .lower-card-left-team {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .img_wrapper {
          border: 3px solid variables.$background-color;

          img {
            width: 30px;
          }
        }

        .team {
          flex: 1;
          display: flex;
          align-items: center;
          margin-left: 30px;

          img {
            width: 40px;
            height: 40px;
            margin-left: 10px;
          }
        }

        .score {
          text-align: right;
        }

        #lose {
          color: variables.$secondary-text;
        }
      }
    }

    .lower-card-middle {
      width: 0.3%;
      background-color: variables.$background-color;
      margin-left: 30px;
    }

    .lower-card-right {
      width: 40%;
      display: flex;
      margin-left: 30px;

      img {
        width: 160px;
      }

      .lower-card-right-desc {
        margin-left: 30px;

        h2 {
          color: variables.$secondary-text;
          text-transform: uppercase;
          font-weight: 500;
        }

        h1 {
          color: red;
        }
      }
    }
  }
}
